.customers {}

.customers {}

.container {}

.customers__logos {}

.logos__list {
   max-width: 57.28rem;

   height: 9.125rem;
   margin: 0 auto;

   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logos__item {}

.logos__img {}