.help {

   padding: 11.2rem 0 10.9rem;

   @media screen and (max-width:1000px) {
      padding: 3rem 0 3rem;
   }


   .title__text {
      margin-bottom: 1.25rem;
      @include textEdit(Roboto, 500, 0.875rem, 1.2);

      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $titleColor;
   }

   .title__slogan {
      display: block;

      margin-bottom: 4.25rem;

      @include textEdit(Quicksand, 500, 1.5rem, 1.25);

      text-align: center;

      color: $titleColor;
   }

   .accordion>.card {
      border: none;
      border-bottom: 1px solid #D8E3FE;
   }

   .collapsed {
      padding-top: 10px;

      img {
         transform: rotate(180deg);
         -webkit-transform: rotate(180deg);
         -moz-transform: rotate(180deg);
         -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
      }
   }

   .show {
      padding-top: 20px;
   }

   .card-header {
      background-color: $primaryColor;
   }

   &__card-btn {
      transform: translate(-18px, -1px);

      img {

         width: 21px;
         height: 10px;
      }
   }

   &__card-title-text {
      display: inline-block;
      @include textEdit (Quicksand, 500, 0.9rem, 1.27);

      letter-spacing: 0.03em;

      color: #8E96B7;

   }

   &__card-body {
      display: flex;

   }

   &__card-text {
      max-width: 24.3rem;

      margin-right: 3.87rem;
      margin-left: 4.25rem;

      @include textEdit (Roboto, 400, 0.875rem, 1.92);

      letter-spacing: 0.03em;

      color: #8D96BD;

      @media screen and (max-width:1000px) {
         max-width: 26.8rem;

         margin-right: 2rem;
         margin-left: 0;
      }
   }

   &__card-body-btn {
      width: 195px;
      height: 43px;

      background-color: #E8ECF4;
      border-radius: 2px;

      @include textEdit(Quicksand, 500, 0.81rem, 1.23);

      color: #7382A3;

   }

}