.hero {

   .hero__phone {}


   .hero__name {
      padding-top: 70px;

      @include textEdit(Roboto, 500, 0.625rem, 1.2);

      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: $accentColor;
   }

   .hero__title {
      padding-bottom: 28px;

      @include textEdit(Quicksand, 400, 3rem, 1.25);

      color: $titleColor;
   }

   .hero__txt {
      max-width: 29rem;

      margin: 0 auto;

      padding-bottom: 20px;

      @include textEdit(Roboto, 400, 0.9375rem, 1.93);

      letter-spacing: 0.03em;
   }

   .hero__video {
      margin-bottom: 20px;
   }
}