.logo {
   width: 26px;
   height: 26px;

   background-color: #5E81FE;

   border-radius: 50%;
   -webkit-border-radius: 50%;
   -moz-border-radius: 50%;
   -ms-border-radius: 50%;
   -o-border-radius: 50%;
}