.quotes {
   padding: 6.81rem 0;

   background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);

   @media screen and(max-width:640px) {
      padding: 1.81rem 0;
   }

   &__container {
      max-width: 59.3rem;
      margin: 0 auto;

      @media screen and (max-width:1200px) {
         max-width: 49.3rem;
      }

      @media screen and (max-width:992px) {
         max-width: 39.3rem;
      }
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width:640px) {
         flex-direction: column;

      }
   }

   &__column {}

   &__column-top {
      margin-bottom: 1.93rem;

      @include textEdit(Roboto, 500, 0.625rem, 1.2);

      letter-spacing: 0.1em;
      text-transform: uppercase;

      color: $titleColor;

      @media screen and (max-width:640px) {
         margin-bottom: 0.3rem;

         text-align: center;
      }
   }

   &__column-title {
      margin-bottom: 0.875rem;

      @include textEdit(Quicksand, 500, 2.25rem, 1.25);

      color: $titleColor;


   }

   &__column-txt {
      @include textEdit(OpenSans, 600, 0.75rem, 1.9);

      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 23px;

      letter-spacing: 0.03em;

      color: #A4ABC8;
   }


   .quotes__slider-inner {
      height: 100%;
   }

   .quotes__slide {
      position: relative;
   }


   &__slide-inner {
      margin: 0 auto;

      padding-bottom: 40px;
      padding-top: 20px;

      width: 423px;
      height: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      background-color: $primaryColor;

      @media screen and (max-width:992px) {
         width: 300px;

         p {
            max-width: 283px;

            @include textEdit(Roboto, 400, 0.875rem, 1.5);

            letter-spacing: 0.03em;

            color: #676F95;
         }


      }

      &__slide-img {
         position: absolute;
         bottom: -25px;
         left: 50%;
         transform: translateX(-50%);
         -webkit-transform: translateX(-50%);
         -moz-transform: translateX(-50%);
         -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
      }


      &__slide {}

      .carousel-caption {}

      .carousel-control-prev {}

      .carousel-control-prev-icon {}

      .visually-hidden {}

      .carousel-control-next {}

      .carousel-control-next-icon {}
   }
}