.header {

   &-inner {
      display: flex;
      justify-content: space-between;
   }

   &__left-list {
      margin-left: 4.56rem;
   }



   &__left-item {
      margin-right: 2.625rem;

      &:last-child {
         margin-right: 0;
      }

   }

   &__left-link {
      font-family: "QuicksandBold";
      font-weight: bold;
      font-size: 0.75rem;
      line-height: 1.25;

   }

   &__right {}

   &__right-item {
      margin-right: 2, 3125rem;

      &:last-child {
         margin-right: 0;
      }
   }

}