@font-face {
    font-family: "Roboto";
    src: url("./../../fonts/Roboto.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../../../fonts/Roboto.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Quicksand";
    src: url("./../../fonts/Quicksand.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Quicksand";
    src: url("./../../fonts/Quicksand.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "OpenSans";
    src: url("./../../fonts/OpenSans.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "OpenSans";
    src: url("./../../fonts/OpenSans.ttf") format("truetype");
    font-weight: 600;
}


ul,
li {
    list-style: none;
}


@import './_vars.scss';
@import './_mixins.scss';


@import './_logo.scss';



@import './_header.scss';
@import './_hero.scss';
@import './_customers.scss';
@import './_plan.scss';
@import './_features.scss';
@import './_stats.scss';
@import './_resourses.scss';
@import './_quotes.scss';



.group1 {
    position: relative;



}

.circle1 {
    &:hover {
        fill: red;
    }
}

.circle1 {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;

        border: 1px solid #000;
        width: 510px;
        height: 510px;

        background-color: green;


    }
}


.group1:hover+.img {
    display: block;
}


.title {
    color: $titleColor;
}