@font-face {
    font-family: "Roboto";
    src: url("./../../fonts/Roboto.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
  src: url("../../../fonts/Roboto.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
    font-family: "Quicksand";
  src: url("./../../fonts/Quicksand.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
    font-family: "Quicksand";
  src: url("./../../fonts/Quicksand.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
    font-family: "OpenSans";
  src: url("./../../fonts/OpenSans.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
    font-family: "OpenSans";
  src: url("./../../fonts/OpenSans.ttf") format("truetype");
  font-weight: 600;
}

ul,
li {
    list-style: none;
    margin-bottom: 0rem;
}

.logo {
    display: block;
    width: 26px;
    height: 26px;
    background-color: #5E81FE;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.header__left-list {
    margin-left: 4.56rem;
}

.header__left-item {
    margin-right: 2.625rem;
}

.header__left-item:last-child {
    margin-right: 0;
}

.header__left-link {
    font-family: "QuicksandBold";
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
}

.header__right-item {
    margin-right: 2, 3125rem;
}

.header__right-item:last-child {
    margin-right: 0;
}

.hero .hero__name {
    padding-top: 70px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5E81FE;
}

.hero .hero__title {
    padding-bottom: 28px;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.25;
    color: #3D4F9F;
}

.hero .hero__txt {
    max-width: 29rem;
    margin: 0 auto;
    padding-bottom: 20px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 1.93;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

.logos__list {
    max-width: 57.28rem;
    height: 9.125rem;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.plan {
    padding: 10.625rem 0 10.75rem;
    background-color: #F5F8FF;
}

@media screen and (max-width: 1280px) {
    .plan {
        padding: 1.625rem 0 4.75rem;
    }
}

@media screen and (max-width: 1280px) {
    .plan__wrap {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        -ms-flex-align: Important center;
        align-items: Important center;
    }
}

.plan__column-top {
    margin-bottom: 1.6875rem;
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.plan__column-title {
    margin-bottom: 1.6875rem;
    font-family: Roboto;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1.25;
    color: #3D4F9F;
}

.plan__column-txt {
    margin-bottom: 2.93rem;
    max-width: 25.8rem;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.93rem;
    line-height: 2;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

@media screen and (max-width: 1280px) {
    .plan__column-txt {
        margin: 0 auto 1.5rem;
    }
}

@media screen and (max-width: 1280px) {
    .plan__column-btns {
        margin: 0 auto 1.5rem;
    }
}

.plan__column__btn span {
    margin-left: 4px;
}

.plan .plan__column-img {
    position: relative;
}

.plan .plan__column-img::before {
    content: "";
    width: 192px;
    height: 283px;
    background-image: url("/assets/images/plan/phone-view-sm.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 77px;
    left: -74px;
}

@media screen and (max-width: 1350px) {
    .plan .plan__column-img::before {
        top: 110px;
        left: -18px;
    }
}

@media screen and (max-width: 1280px) {
    .plan .plan__column-img::before {
        display: none;
    }
}

.plan .plan__column-img::after {
    content: "";
    width: 309px;
    height: 436px;
    background-image: url("/assets/images/plan/phone-view-lg.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 9px;
    right: 28px;
}

@media screen and (max-width: 1280px) {
    .plan .plan__column-img::after {
        display: none;
    }
}

.features {
    padding: 10.7rem 0;
    background-image: url("/assets/images/features/clouds.png");
    background-repeat: no-repeat;
    background-position-y: 113px;
}

@media screen and (max-width: 1280px) {
    .features {
        padding: 4rem 0;
    }
}

.features .features__top {
    margin-bottom: 20px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.features .features__title {
    display: block;
    margin-bottom: 92px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.25;
    font-family: Quicksand;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #3D4F9F;
}

.features .feauters__columns {
    margin-bottom: 5.75rem;
}

@media screen and (max-width: 768px) {
    .features .feauters__columns {
        margin-bottom: 3rem;
    }
}

.features .feauters__column {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .features .feauters__column {
        margin-bottom: 1rem;
    }
}

.features .column__img-wrap {
    margin-bottom: 2.0rem;
    padding-top: 20px;
    width: 69px;
    height: 69px;
    background-color: #F1F5FF;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .features .column__img-wrap {
        margin-bottom: 0;
    }
}

.features .column__title {
    margin-top: 25px;
    font-family: OpenSans;
    font-weight: 700;
    font-size: 0.625rem;
    line-height: 1.7;
    text-align: center;
    color: #4074F8;
}

.features .column__txt {
    max-width: 120px;
    margin: 0 auto;
    font-family: OpenSans;
    font-weight: 600;
    font-size: 0.6875rem;
    line-height: 1.7;
    text-align: center;
    color: #ADB3CB;
}

.features .features__btns span {
    padding: 0 2.9rem;
    font-family: OpenSans;
    font-weight: 600;
    font-size: 0.6875rem;
    line-height: 1.7;
    text-align: center;
    color: #ADB3CB;
}

@media screen and (max-width: 1280px) {
    .features .features__btns span {
        padding: 0 1rem;
    }
}

.features .features__btns .features__btn {
    width: 113px;
    height: 43px;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 0.8125rem;
    line-height: 1.2;
    border-style: none;
    border-radius: 2px;
}

.features .features__btns .features__btn:first-child {
    background-color: #FFD7D7;
}

.features .features__btns .features__btn:last-child {
    background-color: #D2E1FF;
}

@media screen and (max-width: 576px) {
    .stats__wrap {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.stats .customers {
    background-color: #5E81FE;
}

.stats .customers__inner {
    margin-right: 5.6rem;
    padding: 3.75rem 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
}

@media screen and (max-width: 768px) {
    .stats .customers__inner {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .stats .customers__inner {
        margin-right: 0;
        -ms-flex-align: center;
        align-items: center;
    }
}

.stats .customers__img,
.stats .users__img {
    margin-bottom: 1.5rem;
}

.stats .customers__amount {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #fff;
}

.stats .customers__txt {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.27;
    letter-spacing: 0.03em;
    color: #fff;
    text-align: right;
}

.stats .users {
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}

.stats .users__inner {
    margin-left: 5.6rem;
    padding: 3.75rem 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .stats .users__inner {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 576px) {
    .stats .users__inner {
        margin-left: 0;
        -ms-flex-align: center;
        align-items: center;
    }
}

.stats .users__amount {
    font-family: Quicksand;
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #5E81FE;
}

.stats .users__txt {
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.27;
    letter-spacing: 0.03em;
    color: #5E81FE;
}

.resourses {
    padding: 104px 0 213px;
    background-color: #F5F8FF;
}

@media screen and (max-width: 1200px) {
    .resourses {
        padding: 30px 0 50px;
    }
}

.resourses__top {
    margin-bottom: 1.25rem;
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.6rem;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
    text-align: center;
}

.resourses__title {
    margin-bottom: 5.75rem;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.25;
    text-align: center;
    color: #3D4F9F;
}

@media screen and (max-width: 1200px) {
    .resourses__title {
        margin-bottom: 1rem;
    }
}

.resourses-slider__inner {
    width: 86%;
    margin: 0 auto;
    padding-left: 20px;
    background-color: #fff;
}

@media screen and (max-width: 567px) {
    .resourses-slider__inner {
        padding: 0;
    }
}

.resourses__slide {
    padding: 63px 45px 64px 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

@media screen and (max-width: 567px) {
    .resourses__slide {
        padding: 0;
    }
}

.btn-search {
    position: absolute;
    display: none;
}

.resourses__slide-images {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: "img1 img2" "img1 img3";
    -webkit-column-gap: 12px;
    -moz-column-gap: 12px;
    column-gap: 12px;
    row-gap: 12px;
    -ms-flex-line-pack: start;
    align-content: start;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: center;
}

@media screen and (max-width: 567px) {
    .resourses__slide-images {
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: "img1" "img2" "img3";
    }
}

.resourses__slide-img-1 {
    grid-area: img1;
    width: 267.32px;
    height: 267px;
}

.resourses__slide-img-2 {
    grid-area: img2;
    width: 126.84px;
    height: 126.58px;
}

.resourses__slide-img-3 {
    grid-area: img3;
    width: 126.84px;
    height: 126.58px;
}

@media screen and (max-width: 567px) {
    .resourses__slide-img-1,
  .resourses__slide-img-2,
  .resourses__slide-img-3 {
        width: 100%;
        height: 100%;
    }
}

.resourses__slide-descr {
    max-width: 408px;
    margin-left: 67px;
}

@media screen and (max-width: 1200px) {
    .resourses__slide-descr {
        margin-left: 0;
        margin-top: 20px;
        text-align: center;
    }
}

.resourses__slide-title {
    margin-bottom: 2rem;
    font-family: Quicksand;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.25;
    color: #3D4F9F;
}

@media screen and (max-width: 1200px) {
    .resourses__slide-title {
        margin-bottom: 1rem;
    }
}

.resourses__slide-txt {
    margin-bottom: 31px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.8475rem;
    line-height: 1.92;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

.resourses__slide-btn {
    margin-right: 32px;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 0.81rem;
    line-height: 1.23;
}

.resourses__slide-btn:last-child {
    margin: 0;
    width: 211px;
    height: 43px;
    color: #A6B6DA;
    background-color: #fff;
}

.resourses__slide-btn:first-child {
    background-color: #D2E1FF;
    border-radius: 2px;
    border-color: transparent;
    width: 113px;
    height: 43px;
    color: #5E81FE;
}

.resourses__slide-next-icon {
    width: 23px;
    height: 15px;
    background-image: url("/assets/images/icons/arrow-right.png");
    background-repeat: no-repeat;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
}

.resourses__slide-prev-icon {
    width: 23px;
    height: 15px;
    background-image: url("/assets/images/icons/arrow-left.png");
    background-repeat: no-repeat;
}

.carousel-control-prev,
.carousel-control-next {
    width: 3%;
    height: 7%;
    top: 167px;
    border-style: none;
    background-color: transparent;
}

@media screen and (max-width: 1200px) {
    .carousel-control-prev,
    .carousel-control-next {
        top: 43%;
        width: 5%;
    }
}

.resourses__indicator {
    margin-right: 10px;
    display: block;
    width: 8px;
    height: 14px;
    border-radius: 50%;
    background-color: #5E81FE;
    border: 2px;
}

.quotes {
    padding: 6.81rem 0;
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
}

@media screen and (max-width: 640px) {
    .quotes {
        padding: 1.81rem 0;
    }
}

.quotes__container {
    max-width: 59.3rem;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .quotes__container {
        max-width: 49.3rem;
    }
}

@media screen and (max-width: 992px) {
    .quotes__container {
        max-width: 39.3rem;
    }
}

.quotes__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .quotes__inner {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.quotes__column-top {
    margin-bottom: 1.93rem;
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.625rem;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

@media screen and (max-width: 640px) {
    .quotes__column-top {
        margin-bottom: 0.3rem;
        text-align: center;
    }
}

.quotes__column-title {
    margin-bottom: 0.875rem;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 2.25rem;
    line-height: 1.25;
    color: #3D4F9F;
}

.quotes__column-txt {
    font-family: OpenSans;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #A4ABC8;
}

.quotes__slider-inner {
    height: 100%;
}

.quotes__slide {
    position: relative;
}

.quotes__slide-inner {
    margin: 0 auto;
    padding: 1.25rem 0.625rem 2.5rem 0.625rem;
    width: 26.4rem;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
}

@media screen and (max-width: 992px) {
    .quotes__slide-inner {
        width: 300px;
    }

    .quotes__slide-inner p {
        max-width: 283px;
        font-family: Roboto;
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5;
        letter-spacing: 0.03em;
        color: #676F95;
    }
}

.quotes__slide-inner__slide-img {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.help {
    padding: 11.2rem 0 10.9rem;
}

@media screen and (max-width: 1000px) {
    .help {
        padding: 3rem 0 3rem;
    }
}

.help .title__text {
    margin-bottom: 1.25rem;
    font-family: Roboto;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.2;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #3D4F9F;
}

.help .title__slogan {
    display: block;
    margin-bottom: 4.25rem;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.25;
    text-align: center;
    color: #3D4F9F;
}

.help .accordion > .card {
    border: none;
    border-bottom: 1px solid #D8E3FE;
}

.help .collapsed {
    padding-top: 10px;
}

.help .collapsed img {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.help .show {
    padding-top: 20px;
}

.help .card-header {
    background-color: #fff;
}

.help__card-btn {
    -webkit-transform: translate(-18px, -1px);
    transform: translate(-18px, -1px);
}

.help__card-btn img {
    width: 21px;
    height: 10px;
}

.help__card-title-text {
    display: inline-block;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 1.27;
    letter-spacing: 0.03em;
    color: #8E96B7;
}

.help__card-body {
    display: -ms-flexbox;
    display: flex;
}

.help__card-text {
    max-width: 24.3rem;
    margin-right: 3.87rem;
    margin-left: 4.25rem;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.92;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

@media screen and (max-width: 1000px) {
    .help__card-text {
        max-width: 26.8rem;
        margin-right: 2rem;
        margin-left: 0;
    }
}

.help__card-body-btn {
    width: 195px;
    height: 43px;
    background-color: #E8ECF4;
    border-radius: 2px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 0.81rem;
    line-height: 1.23;
    color: #7382A3;
}

.getStarted {
    padding: 91px 0;
    background: url("/assets/images/getStarted/clouds.png") no-repeat center center;
    background-color: #5E81FE;
}

.getStarted__top {
    margin-bottom: 1rem;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #fff;
}

.getStarted__title {
    margin-bottom: 1.75rem;
    font-family: Quicksand;
    font-weight: 300;
    font-size: 3rem;
    line-height: 1.25;
    text-align: center;
    color: #fff;
}

.getStarted__title span {
    font-weight: 500;
}

.getStarted__txt {
    max-width: 44.3rem;
    margin: 0 auto 1.75rem auto;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 1.93;
    letter-spacing: 0.03em;
    color: #fff;
}

.signUp {
    padding: 7.375rem 0;
    background-color: #FCFDFF;
}

@media screen and (max-width: 576px) {
    .signUp {
        padding: 3rem 0;
    }
}

.signUp .signUp__container {
    max-width: 53.5rem;
    padding: 0 15px;
    margin: 0 auto;
}

@media screen and (max-width: 576px) {
    .signUp .signUp__discr {
        text-align: center;
    }
}

.signUp .signUp__form {
    text-align: right;
}

@media screen and (max-width: 576px) {
    .signUp .signUp__form {
        text-align: center;
    }
}

.signUp .signUp__title {
    margin-bottom: 1.2rem;
    font-family: Quicksand;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 1.22;
    color: #3D4F9F;
}

.signUp .signUp__txt {
    max-width: 330px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 1.92;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

.signUp .signUp__input {
    display: inline;
    margin-right: 10px;
    width: 279px;
    height: 59px;
}

.signUp .btn {
    width: 184px;
    height: 59px;
}

.footer {
    padding: 5.81rem;
}

@media screen and (max-width: 992px) {
    .footer {
        padding: 0 0 2rem;
    }
}

.footer .footer__left {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .footer .footer__left {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media screen and (max-width: 992px) {
    .footer .logo {
        display: none;
    }
}

.footer .footer__left-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 2.56rem;
}

@media screen and (max-width: 992px) {
    .footer .footer__left-list {
        margin-left: 0;
    }
}

.footer .footer__left-item {
    margin-right: 2.625rem;
}

.footer .footer__left-item:last-child {
    margin-right: 0;
}

.footer .footer__left-link {
    font-family: "QuicksandBold";
    font-weight: bold;
    font-size: 0.75rem;
    line-height: 1.25;
    color: #697CA6;
}

.footer .footer__right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
}

@media screen and (max-width: 992px) {
    .footer .footer__right {
        margin-top: 2rem;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
    }
}

.footer .footer__right-list {
    display: -ms-flexbox;
    display: flex;
}

.footer .footer__right-item {
    margin-right: 2.3125rem;
}

.footer .footer__right-item:last-child {
    margin-right: 0;
}

.footer .footer__right-btn {
    margin-left: 2.75rem;
    background-color: #D2E1FF;
    border-radius: 2px;
    font-family: Quicksand;
    font-weight: 600;
    font-size: 0.81rem;
    line-height: 1.23;
    text-align: center;
    color: #5E81FE;
}

.footer .footer__bottom {
    margin-top: 2.9rem;
}

.footer .footer__bottom-txt {
    margin-left: 6.56rem;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 0.81rem;
    line-height: 1.18;
    color: #AEB8D0;
}

@media screen and (max-width: 992px) {
    .footer .footer__bottom-txt {
        margin-left: 0;
        text-align: center;
    }
}

.group1 {
    position: relative;
}

.circle1:hover {
    fill: red;
}

.circle1 {
    position: relative;
}

.circle1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #000;
    width: 510px;
    height: 510px;
    background-color: green;
}

.group1:hover + .img {
    display: block;
}
